<h1><%= _('Gamification Settings: Point Rules')%></h1>

<%= form_for('points_categorizations') do |f| %>
  <div class="point-rules">
    <h3><%= _('Point Rules') %></h3>
    <% GamificationPlugin::PointsCategorization.grouped_profiles.each do |categorization| %>
      <% title = categorization.profile.nil? ? _('general points') : _('points for %{name}') % {name: categorization.profile.name} %>
      <h4><%= title %></h4>
      <% GamificationPlugin::PointsCategorization.where(profile_id: categorization.profile).each do |c| %>
        <%= labelled_form_field(_(c.point_type.description), f.text_field("[][weight]", :value => c.weight)) %>
      <% end %>
    <% end %>
  </div>

  <% button_bar do %>
    <%= submit_button(:save, c_('Save'), :cancel => {:action => 'index'}) %>
  <% end %>

<% end %>

